@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?79wyzv');
    src:  url('fonts/icomoon.eot?79wyzv#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?79wyzv') format('truetype'),
      url('fonts/icomoon.woff?79wyzv') format('woff'),
      url('fonts/icomoon.svg?79wyzv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    height: 30px;
    background-color: #f1f1f1;
}

.home-icon {
    font-family: 'icomoon';
}

.nav_ul1,
.nav_ul2 li {
    float: left;
}

.local::before {
    content: '\e906';
    font-family: 'icomoon';
    color: red;
}
.local span {
    margin-left: 10px;
}

.nav_ul1 li {
    float: left;
    line-height: 30px;
    margin-right: 20px;
}

.nav_ul1 a,
.nav_ul2 a,
.nav_ul2 span {
    font-size: 12px;
    color: gray;
}

.nav_ul2 {
    float: right;
}

.nav_ul2 li,
.nav_ul2 span {
    line-height: 30px;
    margin-left: 15px;
}

.nav a:hover {
    color: red;
}

.arrow-icon {
    font-family: 'icomoon';
}

.header {
    position: relative;
    height: 105px;
 
}
.logo {
    position: absolute;
    left: 50px;
    width: 171px;
    height: 61px;
    
}
.logo a {
    display: block;
    width: 101px;
    height: 104px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
.my_city_star {
    position: absolute;
    top: 30px;
    left: 148px;
    width: 100px;
    height: 24px;
    font-size: 24px;
}
.Index_UseSet {
    position: absolute;
    top: 62px;
    left: 300px;
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.Index {
    position: relative;
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;
    border-right: 1px solid gray;
}
.Index::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 8px;
    width: 8px;
    height: 8px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(45deg);
    transition: all 0.6s;
}
.Index:hover::after {
    transform: rotate(225deg);
}
.UseSet {
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;
}
.UseSet::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -12px;
    width: 8px;
    height: 8px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(45deg);
    transition: all 0.6s;
}
.UseSet:hover::after {
    transform: rotate(225deg);
}
.search {
    position: absolute;
    left: 770px;
    top: 25px;
    width: 196px;
    height: 36px;
    border: 2px solid #b1191a;
}
.search input {
    float: left;
    width: 160px;
    height: 32px;
    padding-left: 10px;
}
.search::after {
    content: '\e907';
    font-family: 'icomoon';
    color: gray;
    font-size: 22px;
    position: absolute;
    left: 132px;
}
.search button {
    float: left;
    font-family: 'icomoon';
    width: 32px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
}

.shopcar {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}
.shopcar::before {
    content: '\e905';
    font-family: 'icomoon';
    margin-right: 5px;
    color: #b1191a;
}
.shopcar::after {
    content: '\e900';
    font-family: 'icomoon';
    margin-left: 10px;
}
.counts {
    position: absolute;
    top: -5px;
    left: 27px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}
.content {
    position: relative;
    background-color: #f0f3ef;
}
.sidebar {
    width: 170px;
    position: relative;
    background-color: #fff;
}
.sidebar_1 {
    width: 130px;
    padding: 20px 20px 20px 20px;
}
.sidebar dt {
    font-size: 16px;
    font-weight: 700;
}
.sidebar dl {
    font-size: 14px;
    margin-top: 8px;
}
.sidebar dt,
.sidebar dl {
    display: block;
    height: 32px;
} 
.menu1_1 {
    height: 127px;
}
.menu1_2 {
    height: 216px;
}
.menu1_3 {
    height: 200px;
}

div[class*=menu] {
    width: 100%;
    border-bottom: 1px solid #efefef;
}
.main {
    width: 1000px;
    height: 1200px;
    position: absolute;
    left: 340px;
    top: 10px;
}
.main_1 {
    width: 100%;
    height: 280px;
}
.head_portrait {
    float: left;
    width: 250px;
    height: 100%;
    background-color:pink
}

.head_portrait_1 {
    width: 100%;
    height: 230px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: red;
    opacity: 0.7;
}
.head_portrait_1 div:nth-child(1) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: -webkit-linear-gradient(to left top,#efefef, grey); 
    background: -o-linear-gradient(to left top,#efefef, grey); 
    background: -moz-linear-gradient(to left top,#efefef, grey); 
    background: linear-gradient(to left top,#efefef, grey); 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.head_portrait_1 div:nth-child(2) {
    width: 100px;
    height: 26px;
    border-radius: 13px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: -webkit-linear-gradient(to left top,#efefef, grey); 
    background: -o-linear-gradient(to left top,#efefef, grey); 
    background: -moz-linear-gradient(to left top,#efefef, grey); 
    background: linear-gradient(to left top,#efefef, grey); 
    margin-top: 5px;
}
.vip {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .8);
}
.vip_1 {
    float: left;
    width: 124px;
    height: 30px;
    font-size: 14px;
    color: yellow;
    margin-left: 10px;
    margin-top: 7px;
}

.vip_2 {
    float: left;
    width: 55px;
    height: 36px;
    color: #666;
    background-color:yellow;
    border-radius: 16px;
    margin-left: 38px;
    margin-top: 7px;
    text-align: center;
    line-height: 36px;
}
.mywallet {
    float: left;
    width: 750px;
    height: 100%;
}
.mywallet_title {
    width: 750px;
    height: 55px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    line-height: 55px;
    background-color: #fff;
}
.mywallet_inside {
    width: 750px;
    height: 225px;
    background-color: #fff;
}
.mywallet_inside li {
    float: left;
    margin-top: 20px;
    margin-left: 52px;
    height: 185px;
    font-size: 16px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    background-color: #fff;
}
.mywallet_inside .num {
    font-size: 20px;
    font-weight: 700;
}
.mywallet .mywallet_inside .operate a{
    color: blue;
}
.main_2 {
    width: 694px;
    height: 160px;
    position: absolute;
    top: 300px;
    left: 0;
    background-color: #fff;
}
.my_order {
    width: 100%;
    height: 55px;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    border-bottom: 1px solid gray;
}
.order {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
.order div {
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}
.main_3 {
    position: absolute;
    top: 300px;
    left: 704px;
    width: 296px;
    height: 160px;
    background-color: #fff;
}
.myfollow {
    width: 100%;
    height: 55px;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    border-bottom: 1px solid gray;
}
.myfollow div {
    margin-left: 16px;
}
.follow {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
.commodity_follow {
    width: 90px;
    height: 90px;
    text-align: center;
}
.commodity_follow div {
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 50px;
}
.shop_follow {
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}
.shop_follow div {
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 50px;
}
.main_4 {
    width: 1000px;
    height: 620px;
    position: absolute;
    top: 470px;
    left: 0;
    background-color: #fff;
}


/* 底部 */
.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 35px;
}
.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -2px;
    margin-right: 8px;
}
.service_txt h4 {
    font-size: 14px;
}
.service_txt  p {
    font-size: 12px;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px; 
    margin-bottom: 10px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}
