body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
ul {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    font-size: 14px;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav {
    height: 30px;
    background-color: #f1f1f1;
}

.w {
    width: 1200px;
    margin: 0px auto;
}

.home-icon {
    font-family: 'icomoon';
}

.nav_ul1,
.nav_ul2 li {
    float: left;
}

.nav_ul1 li {
    float: left;
    line-height: 30px;
    margin-right: 20px;
}

.nav_ul1 a,
.nav_ul2 a,
.nav_ul2 span {
    font-size: 12px;
    color: gray;
}

.nav_ul2 {
    float: right;
}

.nav_ul2 li,
.nav_ul2 span {
    line-height: 30px;
    margin-left: 15px;
}

.nav a:hover {
    color: red;
}

.arrow-icon {
    font-family: 'icomoon';
}

.header .w {
    position: relative;
    height: 104px;
}
/* .logo */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}

/*搜索框*/
.search {
    position: absolute;
    left: 954px;
    top: 35px;
    width: 192px;
    height: 32px;
    border: 2px solid #b1191a;
}
.search input {
    float: left;
    width: 160px;
    height: 32px;
    padding-left: 10px;
}
.search::after {
    content: '\e907';
    font-family: 'icomoon';
    color: gray;
    font-size: 22px;
    position: absolute;
    top: 5px;
    left: 136px;
}
.search button {
    float: left;
    font-family: 'icomoon';
    width: 32px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
}

.title {
    margin-top: 4px;
}

.title h3 {
    float: left;
    font-size: 23px;
    color: #c91623;
}

.title div {
    float: right;
    font-size: 14px;
    color: gray;
}
/*显示菜单*/
.tips {
    width: 1200px;
    height: 50px;
    background-color: #f1f1f1;
    margin-top: 40px;
    border: 1px solid #e9e9e9;
}
.tips li {
    float: left;
    line-height: 50px;
    font-size: 12px;
    color: gray;
}

.tips li:nth-child(1) {
    width: 90px;
    border-top: 3px solid #c91623;
}

.tips li:nth-child(2) {
    margin-left: 120px;
}

.tips li:nth-child(3) {
    margin-left: 357px;
}

.tips li:nth-child(4) {
    margin-left: 126px;
}

.tips li:nth-child(5) {
    margin-left: 126px;
}

.tips li:nth-child(6) {
    margin-left: 132px;
}
/*商品详情展示开始*/
.info {
    width: 1200px;
    height: 125px;
    background-color: #fff4e8;
    border: 1px solid gray;
    margin-top: 30px;
    border-top: 3px solid gray;
}

.info li {
    float: left;
    margin-top: 20px;
}

.info a {
    font-size: 12px;
    color: #333333;
}

.info_1 {
    margin-left: 23px;
}

.info_2 {
    margin-left: 15px;
    border: 1px solid gray;
}

.info_3 {
    width: 270px;
    height: 20px;
}

.info_4 {
    margin-left: 45px;
}

.info_5 {
    margin-left: 70px;
}

.info_6 {
    margin-left: 90px;
}

.info_6 input {
    width: 30px;
    height: 12px;
    text-align: center;
    position: relative;
    top: -2px;
    left: -5px;
}

.info_6 button {
    width: 30px;
    height: 18px;
}

.bot {
    position: relative;
    left: -10px;
}

.info_7 {
    margin-left: 40px;
}
.info_8 {
    margin-left: 70px;
}
/*结算模块*/
.balance {
    width: 1000px;
    height: 50px;
    border: 1px solid gray;
    margin-top: 30px;
}

.balance_ul1,
.balance_ul1>li,
.balance_ul2>li {
    float: left;
    line-height: 50px;
    margin-left: 14px;
}

.balance_ul2 {
    float: right;
}

.butt {
    width: 100px;
    height: 50px;
    background-color: #C91623;
    border: 0px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.balance span {
    font-size: 25px;
    color: #C91623;
    font-weight: bold;
}